<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechNech Blog Site</title>
     <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <nav class="nav">
                <a class="link" href="/">Home</a>
                <a class="link" href="/dashboard">Dashboard</a>
                {{#if logged_in}}
                <a id="logout" class="link" href="/">Logout</a>
                <p class="login-info">logged in under {{username}}</p>
                {{else}}
                <a class="link" href="/login">Login</a>
                {{/if}}
            </nav>
            <h1 class="app-title"><i class="head"></i>TechNech Blog</h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Share with Friends!!
        </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>